html {
    background-color: black;
    color: white;
    font-family: 'Libre Baskerville', serif;
}


h1 {
    text-transform: uppercase;
    font-size: 3rem;
}



img {
    border: 5px solid white;
    width: 100%;
}



#paragr {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
}


